/.idea/
db.sqlite3
/venv/
__pycache__/
*.env
**/migrations/*
!**/migrations/__init__.py
/tmp/
/auditsro/naufor.csv
# -----------------------------------------------------------------------------
.coverage
htmlcov/